.container{
  margin: 30px 0;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
/* SEARCH*/
.form-container{
  background-color: grey;
  width: 100%;
  padding: 20px;
  border-radius: 9px;
}
.form-container form{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form input{
  flex: 1;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: cursive;
  outline: none;
  border: none;
  border-radius: 5px;
}
form button{
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: cursive;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .3s ease-out;
  cursor: pointer;
}
form .btn{
  background-color: green;
  color: white;
  filter: brightness(110%);
}
form .btn:hover{
  filter: brightness(90%);
}
form .sup-btn{
  background-color: tomato;
  color: white;
  filter: brightness(110%);
}
form .sup-btn:hover{
  filter: brightness(90%);
}
/* FAVORITE*/
/* MEAL*/
section{
  padding: 50px 5%;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.single-meal{
  max-width: 350px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.single-meal img{
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.single-meal-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.single-meal-footer .title{
  font-weight: bolder;
  margin-bottom: 10px;
}
.single-meal-footer .like-btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: bolder;
  transition: .3s ease-out;
  font-size: 25px;
}
.single-meal-footer .like-btn:hover{
  transform: translateY(-5px);
  color: green;
}

@media(max-width:800px) {
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* MODAL*/
.modal-container{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.modal{
  width: 70%;
  height: 500px;
  background-color: white;
  overflow: scroll;
  padding: 10px;
}
.modal img{
  width: 100%;
  border-radius: 9px;
}
.modal .title{
  margin: 10px 0;
  font-family: cursive;
}
.modal .note-heading{
  padding-bottom: 10px;
  text-decoration: underline gray;
}
.modal .note{
  font-size: 15px;
}
.modal .links{
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.links a{
  color: blue;
}
.links .youtube{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .close-btn{
  color: white;
  padding: 10px 15px;
  border: none;
  background-color: red;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: .3s ease-out;
  filter: brightness(90%);
}
.close-btn:hover{
  filter: brightness(120%);
}
